<p> <%= @user.username %>'s Travel Destinations'
<% @user.destinations.each do |destination| %>
  <ul>
    <li><a href="/destination/<%=destination.id%>"><%= destination.name %></a></li>
  </ul>
<% end %>