<h1>Add a New Destination</h1>

<form action="/destinations" method="POST">
  <label> Destination Name </label>
  <input type="text" name="name"> </br>

  <label> Destination Desctiption </label>
  <input type="text" name="Description"> </br>

  <label> Destination Country </label>
  <select name="country_id">
    <% current_user.countries.each do |country| %>
      <option value=<%=country.id %>><%= country.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create">
</form>