<h1>Add a New Destination</h1>

<form action="/destinations" method="POST">
  <label> Destination Name </label>
  <input type="text" name="name"> </br>

  <label> Destination Desctiption </label>
  <input type="text" name="Description"> </br>

  <label> Destination Country </label>
  <input type="text" name="Country"> </br>

  <input type="submit" value="Create">
</form>