  <%= @country.name %><br />
  <%= @country.continent %> <br />

  <h2>Countries</h2>
  <ul>
  <% @country.destinations.each do |destination| %>
    <li><a href="/destinations/<%=destination.id%>"><%= destination.name %></a></li>
  <% end%>
  </ul>
  <br />
  <br />